.modelos{
    min-width: 100%;
    height: auto;
}

.lancamento{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    text-align: center;
    flex-direction: column;
    gap: 15%;
    padding: 1rem 0;
}
.video-container{
    margin: 1rem;
    padding: 0;
}
.link-do-video{
        width: 100%;
        height: 12.5rem; 
        border: none;
        border-radius: 1rem; 
        
      }

p{
    font-size: 14px;
    font-weight: 400;
}
strong{
    font-weight: bold;
}
.principal-lancamento__tabela{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0;
}
.tabela {
    min-width: 360px;
    margin: auto;
    }
td {
    padding: 12px;
    text-align: center;
}
tr{
    display: flex;
    flex-direction: column;
}
.conteudo__tabela{
    height: 100%;
    width: auto;
    padding: 0;
    border: 4rem;
}
.conteudo__tabela span{
    color: var(--azul-claro-ford);
    font-weight: 600;
    font-size: larger;

}
.conteudo__tabela p{
    font-weight: 600;
}
.lancamento button{
    width: 100%;
    margin-top: 20px;
    background-color: var(--azul-claro-ford);
    color: var(--branco);
    border: none;
    padding: 12px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}
.lancamento button:hover{
    background-color: var(--azul-hover);
}
.imagem-e-descricao{
    display: flex;
    flex-direction: column;
    padding: 0;
}
.div-informacoes{
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.div-informacoes img{
    height: auto;
    width: 5%;
    padding: 0;
}
.div-informacoes-texto{
    padding: 0.5rem;
    text-align: left;
}


@media (min-width: 820px){

}