.cabecalho__menu-hambuguer{
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}
.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: relative;
    padding: 1em;
    box-shadow: 0.5rem 0.5rem 0.5rem  rgb(0, 0, 0, 0.2);
}
.container{
    display: flex;
    align-items: center;
    margin: 0 1em;
    padding: 0;
}
.container-imagem{
    padding: 1em;
}
.imagem-logo-do-cabecalho{
    padding: 0;
}
.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: -60vw;
}

.container__botao:checked~.lista-menu{
 display: block;
}
.lista-menu_titulo,
.lista-menu__link{
    padding: 1em;
    background-color: var(--branco);
}
.lista-menu_titulo{
    color: var(--azul-ford);
}
.lista-menu__link{
    background: var(--branco);
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--azul-claro-ford);

}
.lista-menu__link:hover{
    zoom: 1.2;
    color: var(--azul-hover);
}
.container__botao{
    display: none;
}

@media (min-width: 640px) {
  
  .lista-menu {
    display: flex;
    position: static;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: auto;
    flex: 1;
  }
.menu_ancoras{
    flex: 1;
}
 
  .cabecalho__menu-hambuguer,
  .container__botao,
  .menu_hambuguer {
    display: none;
  }

  .lista-menu_titulo,
  .lista-menu__link {
    padding: 0.5rem 1rem;
   
    font-size: 1rem;
  }
}